
<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form #clientForm="ngForm">
            <div class="form-group row">
                <label for="Name" class="col-form-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.name" name="Name" required minlength="3" #name="ngModel">
                    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors.required">
                            Name is required
                        </div>
                        <div *ngIf="name.errors.minlength">
                            The name must have at least 3 characters
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="lastName" class="col-form-label col-sm-2">lastName</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.lastName" name="lastName" required #lastName="ngModel">
                    <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        <div *ngIf="lastName.errors.required">
                            Last name is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="Email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            Email is required
                        </div>
                        <div *ngIf="email.errors.email">
                            The email must have a valid format
                        </div>
                    </div>
                </div>
            </div>

            <div class="form=form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled]="!clientForm.form.valid">Create</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clientForm.form.valid">Update</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>
